/* Esto sirve para que cuando vuelvas al indice o vaya a  alguna seccion vaya progresivamente */
html{
    scroll-behavior:smooth;
}

body{
    font-family:  sans-serif;
}

h1{
    color:navy
}
img,video{

    max-width: 100%;
    /* El height auto significa que recalcule su alturarespecto a la anchura y asi sea proporcional */
    height: auto;
}

iframe{
    width:80%;
    height:400px
}
